@font-face {
  font-family: 'ibridge-icon';
  src:  url('../fonts/ibridge-icon.eot?1mio1r');
  src:  url('../fonts/ibridge-icon.eot?1mio1r#iefix') format('embedded-opentype'),
    url('../fonts/ibridge-icon.ttf?1mio1r') format('truetype'),
    url('../fonts/ibridge-icon.woff?1mio1r') format('woff'),
    url('../fonts/ibridge-icon.svg?1mio1r#ibridge-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ibridge-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ib-minus:before {
  content: "\e917";
}
.icon-ib-arrow-next:before {
  content: "\e915";
}
.icon-ib-close:before {
  content: "\e916";
}
.icon-ib-check:before {
  content: "\e912";
}
.icon-ib-search:before {
  content: "\e913";
}
.icon-ib-menu:before {
  content: "\e914";
}
.icon-ib-arrow-down:before {
  content: "\e900";
}
.icon-ib-chat:before {
  content: "\e901";
}
.icon-ib-checkbox-active:before {
  content: "\e902";
}
.icon-ib-checkbox:before {
  content: "\e903";
}
.icon-ib-files:before {
  content: "\e904";
}
.icon-ib-followers:before {
  content: "\e905";
}
.icon-ib-idea:before {
  content: "\e906";
}
.icon-ib-info:before {
  content: "\e907";
}
.icon-ib-jobs:before {
  content: "\e908";
}
.icon-ib-more:before {
  content: "\e909";
}
.icon-ib-notifications:before {
  content: "\e90a";
}
.icon-ib-plus:before {
  content: "\e90b";
}
.icon-ib-profile:before {
  content: "\e90c";
}
.icon-ib-radio-active:before {
  content: "\e90d";
}
.icon-ib-radio:before {
  content: "\e90e";
}
.icon-ib-read:before {
  content: "\e90f";
}
.icon-ib-university:before {
  content: "\e910";
}
.icon-ib-upload:before {
  content: "\e911";
}
