html,
body {
	min-height: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
#container-login {
	flex: 1 0 auto;
}
body {
	display: flex;
	min-height: 100%;
	flex-direction: column;
}
@font-face {
	font-family: "HelveticaNeue-Bold";
	src: url("../fonts/HelveticaNeue-Bold.otf") format("opentype");
}
@font-face{

font-family:"HelveticaNeue-Heavy";
 src:url("../fonts/HelveticaNeue-Heavy.otf") format("opentype");

}
@font-face{

font-family:"HelveticaNeue-Light";
 src:url("../fonts/HelveticaNeue-Light.otf") format("opentype");

}
@font-face{

font-family:"HelveticaNeue-Medium";
 src:url("../fonts/HelveticaNeue-Medium.otf") format("opentype");

}
@font-face{

font-family:"HelveticaNeue-Roman";
 src:url("../fonts/HelveticaNeue-Roman.otf") format("opentype");

}
* {
	font-family:"HelveticaNeue-Roman";
}
/*********************** Sign-in / Sign-up  *********************/

.dl-horizontal dt {
	white-space:normal;
}
/* Set width on the form input elements since they're 100% wide by default */

.color-row {
	width:100%;
	position:absolute;
	height:100%;
	height:-webkit-fill-available;
}
.color {
	height:100%;
	background-color:var(--default-color);
}
:root {
	--default-color:#062540;
	--white-color:#fff;
}
a,
a:hover {
	text-decoration:none;
	color:inherit;
}
/* General classes */

.m-b-0 {
	margin-bottom:0 !important;
}
.left-panel {
	color:var(--white-color);
}
/*Login page style*/

.left-panel .row {
	height:100%;
}
.left-panel h4 {
	font-size:16px;
	margin-bottom:45px;
}
.left-panel h1 {
	font-size:40px;
	line-height:60px;
	font-weight:bold;
}
.right-panel {
	padding:0px;
	height:100vh;
}
.right-form {
	box-shadow:0 8px 28px 0 rgba(0,
	0,
	0,
	0.08);
	background-color:#ffffff;
	padding:60px;
	min-width:100%;
	font-size:14px;
	color:#060609;
	position:relative;
	top:50vh;
	transform:translateY(-50%);
}
.form-horizontal .form-group {
	margin-bottom:20px;
}
.right-form h4 {
	font-size:26px;
	font-weight:bold;
	margin-bottom:20px;
}
.right-form p {
	color:rgba(6,
	6,
	9,
	0.5);
}
.form-group .input {
	margin-bottom:20px;
	border:solid 1px #e5e5e5;
	padding:17px 15px 0px 15px;
	height:55px;
	border-radius:5px;
}
input:focus ~ .floating-label,
.floating-label.focus {
	top:8px;
	bottom:10px;
	left:15px;
	font-size:11px;
}
input:focus {
	outline:0;
}
.inputText {
	font-size:14px;
	height:35px;
	border:none;
	width:87%;
}
.floating-label {
	position:absolute;
	pointer-events:none;
	left:15px;
	top:18px;
	transition:0.2s ease all;
	opacity:0.5;
}
.show-link {
	cursor:pointer;
	position:absolute;
	top:0px;
	right:20px;
	padding-top:15px;
	padding-bottom:15px;
	color:#0468bf!important;
}
.right-form input[type="submit"] {
	background:#0468bf;
	border-radius:5px;
	height:47px;
	color:#fff;
}
.right-form .forget-password {
	opacity:0.5;
	color:#060609;
}
.right-form a,
.show-link {
	border-radius:5px;
}
.register-link {
	margin-bottom:45px;
}
.forgot-link {
	margin-top:5px;
	margin-bottom:45px;
	margin-left:15px;
	opacity:0.5;
	font-size:14px;
	line-height:1.79;
}
.forgot-link a {
	color:#060609!important;
}
.right-form input[type="submit"] {
	width:100%;
	max-width:100%;
}
.right-form .form-horizontal + p {
	text-align:center;
	margin-top:75px;
	margin-bottom:30px;
	font-size:14px;
	color:#060609;
}
.right-form p:last-child {
	margin-top:90px;
}
.external-login {
	padding:0;
	margin:auto;
	max-width:320px;
}
.external-login a {
	padding-top:15px;
	padding-bottom:12px;
	display:block;
	border:1px solid #eaeaea;
	width:100%;
	color:#060609;
	line-height:0;
}
.facebook,
.linkedin {
	width:18px;
	height:18px;
	margin-right:44px;
	margin-left:20px;
}
@media screen and (max-width: 321px) {
	.facebook,
	.linkedin {
		margin-right:20px;
	}
}
.external-login a:first-child {
	margin-bottom:15px;
}
/*full-width footer*/

.vertical-bottom #hr-footer {
	visibility:hidden;
}
.vertical-bottom > footer {
	bottom:0px;
	position:absolute;
	padding:30px;
}
.vertical-bottom > footer ul {
	display:unset;
}
#container-footer {
	visibility:hidden;
}
.vertical-bottom > footer li a {
	color:white;
	font-size:12px;
}
footer {
	width:100%;
	position:absolute;
	flex-shrink:0;
	margin-top:-77px;
	/* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}
#hr-footer {
	margin:0px;
}
footer a,
footer a:hover {
	color:#060609;
	text-decoration:none;
	font-size:12px;
	margin-top:9px;
	text-align:center;
}
/*footeri i ri*/

footer ul {
	padding:30px 0px;
	margin-bottom:0px;
	line-height:14px;
	display:flex;
	justify-content:center;
}
footer li {
	display:inline-block;
	margin-right:20px;
	padding:0px;
	line-height:14px;
}
footer li a{
	color:#060609;
	font-size:12px;
}
.vertical-middle {
	position:relative;
	top:50vh;
	transform:translateY(-50%);
}
.right-form .form-horizontal h4 {
	font-size:26px;
	line-height:0.96;
	text-align:left;
	color:#060609;
}
@media(max-width:1500px) {
	.right-form {
		max-width:500px;
	}
}
/*--------------------------MOBILE------------------*/

@media screen and (max-height: 729px) and (min-width: 1200px) {
	.right-form {
		transform:scale(0.7);
		top:calc(100% - 670px);
	}
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
	.color-row {
		height:1024px;
	}
	.vertical-middle {
		position:unset;
		top:0;
		transform:translateY(0%);
		float:left;
	}
	.left-panel {
		padding:0px 25px;
		max-width:500px;
		margin:auto;
	}
	.left-panel h4 {
		line-height:1.56;
		text-align:left;
		padding-top:120px;
		padding-bottom:60px;
		font-size:16px;
		margin-bottom:0px;
		font-weight:bold;
		line-height:1.19;
	}
	.vertical-middle h1 {
		opacity:1;
		font-size:26px;
		line-height:1.38;
		color:#ffffff;
		margin:0px 0px 60px;
		font-size:40px;
		font-weight:bold;
		line-height:1.5;
	}
	.right-panel {
		height:unset;
		margin-bottom:90px;
	}
	.right-form {
		max-width:500px;
		min-width:unset;
		margin:auto;
		padding:60px;
		top:0;
		transform:translateY(0%);
	}
	footer {
		bottom:0px;
		position: relative;
	}
	footer ul {
		padding-top:28px;
		padding-bottom:28px;
		margin-bottom:0px;
	}
	.footer-col {
		padding-right:0px;
	}
	.vertical-bottom > footer {
		width:0px;
		height:0px;
		visibility:hidden;
	}
	#container-footer {
		visibility:visible;
		margin-top:77px;
	}
}
@media screen and (max-width: 767px) {
	.vertical-middle {
		position:unset;
		top:0;
		transform:translateY(0%);
	}
	.left-panel h1 {
		font-size:26px;
		text-align:center;
	}
	.left-panel h4 {
		line-height:1.56;
		text-align:center;
		padding-top:120px;
		padding-bottom:60px;
		font-size:16px;
		margin-bottom:0px;
	}
	.vertical-middle h1 {
		opacity:1;
		font-size:26px;
		line-height:1.38;
		text-align:center;
		color:#ffffff;
		margin:0px 41.5px 60px;
	}
	.right-panel {
		background-color:#ffffff;
		margin:0px 15px;
		height:unset;
		margin-bottom:69px;
	}
	.right-form {
		padding:60px 30px;
		top:0;
		transform:translateY(0%);
	}
	footer {
		bottom:0px;
		position: relative;
		margin-top: 0px;
	}
	#container-footer{
		position: relative;
		visibility:visible;
	}
	footer a:nth-child(3) {
		margin-right:10px;
	}
	footer a,
	footer a:hover {
		line-height:14px;
	}
	footer ul {
		line-height:22px;
		padding-left:15px;
		justify-content:unset;
		display:inline-block;
	}
	.vertical-bottom > footer {
		width:0px;
		height:0px;
		visibility:hidden;
	}
}
/*********************************** HEADER ********************************/

header {
	background-color:#062540;
	width:100%;
	font-size:16px;
	color:#fff;
	position:fixed;
	top:0px;
	height:66px;
	z-index:1070;
	padding:18px 0px 18px 0px;
}
button {
	border: none;
	font: inherit;
	background-color: transparent;
}
.logo {
	font-family:"HelveticaNeue-Bold";
}
.user {
	float:right;
	font-size:14px;
}
.user a:hover {
	text-decoration:none;
	color:#fff;
}
.user a {
	color:#fff;
}
.icon-profile{
	margin-left: 15px;
}
.icon-profile, #icon-profile-sidebar {
	background-color:#fff;
	border-radius:50%;
	padding:8px;
	line-height:2;
}

.icon-profile i {
	color:#062540;
	line-height:2.15;
}
.arrow-icon i {
	margin-left:5px;
}
#menu-icon {
	display:none;
}
/**************************css for index.html file (set up profile)****************************/

/*css for set up profile*/

#container {
	padding-top:66px;
	flex:1 0 auto;
	margin-bottom:197px; /* 120 margin + 77 of footer */
}
#container-fluid {
	margin-top:66px;
	padding:0px;
}
#steps-skip-row {
	margin-top:64px;
	margin-bottom:-10px;
}
.steps {
	font-size:14px;
	color:rgba(6,
	6,
	9,
	0.7);
	margin-left:7.5px;
	display:inline;
}
.steps a,
.steps a:hover {
	float:right;
	text-decoration:none;
	color:#060609;
}
.step-name {
	font-size:18px;
	font-family:"HelveticaNeue-Bold";
	margin-top:11px;
	margin-bottom:30px;
}
/*******progress circle*******/

.circular-chart {
	display:inline;
	width:24px;
	height:24px;
	margin-left:-35px;
}
.circle-bg {
	fill:none;
	stroke:#e5e5e5;
	stroke-width:3;
}
.circle-step1,
.circle-step2,
.circle-step3 {
	fill:none;
	stroke-width:3;
	stroke-linecap:round;
}
.circle-step1 {
	animation:progress1 1s ease-out forwards;
}
.circle-step2 {
	animation:progress2 1s ease-out forwards;
}
.circle-step3 {
	animation:progress3 1s ease-out forwards;
}
/*25% circle progress*/

@keyframes progress1 {
	0% {
		stroke-dasharray:0 100;
	}
}
/*50% circle progress*/

@keyframes progress2 {
	0% {
		stroke-dasharray:25 100;
	}
}
/*75% circle progress*/
@keyframes progress3 {
	0% {
		stroke-dasharray:50 100;
	}
}
.circular-chart.blue .circle-step1,
.circular-chart.blue .circle-step2,
.circular-chart.blue .circle-step3 {
	stroke:#0468bf;
}
/****** .category******/

.which-category {
	font-size:18px;
	font-family:"HelveticaNeue-Bold";
	margin-top:60px;
}
.i-continue-as-a,
.and-subcategory-is {
	opacity:0.5;
	font-size:14px;
}
.i-continue-as-a {
	margin-bottom:45px;
}
.and-subcategory-is {
	margin-bottom:30px;
}
.category span {
	display:block;
}
/***** .subcategory****/

.subcategory span {
	padding-left:10px;
}
#subcategory1 div.col-md-auto,
#subcategory2 div.col-md-auto,
#subcategory3 div.col-md-auto,
#subcategory4 div.col-md-auto,
#subcategory5 div.col-md-auto{
	margin-right: -15px;
}
.and-subcategory-is {
	display:none;
}
/*---------- Category and Subcategory ----------*/

@media screen and (min-width: 768px) {
	.category {
		height:100px;
		min-height:100px;
		position:relative;
	}
	.subcategory span {
		padding-left:10px;
	}
	.category span {
		position:absolute;
		bottom:15px;
		margin-right:15px;
	}
}
@media screen and (min-width: 1025px) {
	.subcategory span {
		padding-left:10px;
	}
}
@media screen and (max-width: 767px) {
	.category span {
		padding-left:10px;
		display:inline;
	}
	.subcategory{
		width: 100%;
	}
}
@media screen and (max-width: 768px) {
	#menu-icon, #close-icon {
		display:inline-block;
		font-size:20px;
		border: none;
		background-color: inherit;
		color: #fff;
	}
	/*to display only the menu-icon(three lines)*/
	.user a:not(:last-child), .button-create-sign button:not(:last-child) {
		display:none;
	}

}
@media screen and (max-width: 1024px) {
	.step-name {
		margin-left:37px;
	}
	.circular-chart {
		margin-left:0px;
	}
	#container{
		margin-bottom:167px;
	}
}
.category{
	width: 100%;
}
.category,
.subcategory {
	background-color:#f5f5f5;
	border-radius:5px;
	padding:15px;
	word-wrap:break-word;
	font-size:14px;
	margin-bottom:15px;
}
/*radiobuttons*/

input[type="radio"] {
	display:none;
}
.categories-and-subcategories ~ label:before {
	content:"\e90e";
	color:#e5e5e5;
	font-family:"ibridge-icon";
}
.categories-and-subcategories:checked ~ label:before {
	content:"\e90d";
	background-color:#0468bf;
	border-radius:50%;
	color:#fff;
}
.background,
.category:hover,
.subcategory:hover {
	background-color:#0468bf;
	box-shadow:0 4px 12px 0 rgba(4,
	104,
	191,
	0.4);
	color:#fff;
	cursor:pointer;
}
/**************************end of css for index.html file (set up profile)****************************/

/*profile.html*/

.user i:not(.icon-ib-profile):not(.icon-ib-arrow-down):not(.icon-ib-menu) {
	margin-right:20px;
}
.icon-ib-arrow-down {
	font-size:10px;
	color:#fff;
	padding-left:5px;
}
.profile-icon {
	width:30px;
	height:30px;
	margin-left:10px;
	border-radius:50%;
	object-fit:cover;
}
.vertical-line {
	width:0;
	height:15px;
	border:solid 1px rgba(255,
	255,
	255,
	0.15);
	margin-right:20px;
}
.background-photo {
	width:100%;
	height:350px;
	background-image:url("../images/overlay@3x.png"),
	url("../images/img@3x.png");
	background-size:cover;
	background-position:50% 93.7%;
}
.overlay-image {
	position:relative;
}
/*.header-image {
    position: absolute;
    object-fit: cover;
    object-position: bottom;
    object-position: 50% 93.7%;
}*/

#profile-photo-container {
	width:180px;
	height:180px;
	border-radius:50%;
	border:5px solid #fff;
	background-image:url("../images/user_img.png");
	background-size:cover;
	background-position:center;
}
/*.profile-photo {
    border: 5px solid #fff;
    object-fit: cover;
    object-position: top;
}*/

.name {
	font-size:28px;
	font-family:"HelveticaNeue-Bold";
	margin-bottom:15px;
	line-height:1;
}
.profession {
	height:16px;
	opacity:0.7;
	font-size:14px;
	font-weight:normal;
}
#container-profile,
#overview,
#profile-nav {
	color:#fff;
}
#container-profile{
	margin-top: -210px;
	margin-bottom: 30px;
}
#container-profile i {
	background-color:#fff;
	border-radius:50%;
	padding:7px;
	font-size:16px;
}
#job-and-education i {
	margin-right:15px;
	color:#062540;
}
#job-and-education p {
	margin-top:23px;
	font-size:14px;
}
/*Second Profile Header*/

#profile-menu span {
	padding-right:47px;
	line-height:3.4;
	font-size:14px;
}
#profile-nav {
	padding-top:16px;
	padding-bottom:16px;
	background-color:#fff;
	margin-right:0px;
	box-shadow:0 4px 4px 0 rgba(0,
	0,
	0,
	0.1);
}
#profile-menu a {
	text-decoration:none;
	color:rgba(6,
	6,
	9,
	0.7);
}
#profile-menu a:hover {
	border-bottom:2px solid #0468bf;
	padding-bottom:31px;
	color:#060609;
}
/*******Profile Button and More(...) ( profile content )********/

.profile-content {
	position:relative;
	margin-bottom: 77px;
	padding-bottom:120px;
}
.edit-profile-button {
	background-color:#0468bf;
	border-radius:5px;
	font-size:14px;
	color:#fff;
	padding:9px 22px;
}
#overview {
	color:#060609;
	font-size:18px;
}
.more-button {
	border-radius:5px;
	border:solid 1px #e5e5e5;
	background-color:#fff;
	margin-left:14px;
	height:42px;
	width:42px;
}
/****************Content******************/

.titles {
	color:#060609;
	margin-top:54px;
	margin-bottom:23px;
}
.info {
	color:rgba(6,
	6,
	9,
	0.7);
	font-size:14px;
}
#not-published {
	padding-top:14px;
	margin-bottom:30px;
}
#right-content a {
	color:#0468bf;
	font-size:14px;
}
#right-content .info {
	margin-bottom:0px;
}
#otherID a {
	margin-bottom:5px;
}
#experience,
#education,
#interests {
	border:solid 1px #e5e5e5;
	border-radius:10px;
	padding-top:45px;
	padding-bottom:29px;
}
#publications {
	border:solid 1px #e5e5e5;
	border-radius:10px;
	padding-top:45px;
}
#publications hr {
	margin-left:23px;
	margin-right:23px;
}
.edit-and-more-buttons {
	float:right;
}
.editorships-title {
	color:#060609;
}
#editorships {
	padding: 30px 30px 10px 30px;
	border:solid 1px #e5e5e5;
	border-radius:10px;
}
.titles i {
	font-size:16px;
	color:#0468bf;
}
#overview button {
	float:right;
	border-radius:5px;
	border:solid 1px #e5e5e5;
	background-color:#fff;
	font-size:16px;
	color:#0468bf;
	padding:5px 14px 5px 14px;
}
#overview button i {
	padding-right:10px;
	color:#0468bf;
	font-size:14px;
}
#overview i {
	font-size:35px;
	color:rgba(6,
	6,
	9,
	0.5);
}
#job-and-education .vertical-line {
	display:none;
}
.mobile-show #more {
	display:none;
}
.mobile-show #btn-overflow {
	border:0;
	background-color:#fff;
	color:#0468bf;
}
@media screen and (min-width: 768px) {
	.mobile-show {
		display:none;
	}
	.editorships-left {
		float:left;
	}
	.editorships-right {
		text-align:right;
	}
}
@media screen and (max-width: 767px) {
	#upload-icon {
		margin-top:31px;
	}
	#profile-menu,
	#name-and-profession {
		color:#060609;
	}
	#container-profile{
		margin-top:-75px;
		margin-bottom:0px;
	}
	.edit-profile-button {
		width:100%;
	}
	#job-and-education p i {
		display:none;
	}
	#name-and-profession {
		margin-top:30px;
		text-align:center;
	}
	.edit-and-more-buttons {
		float:none;
	}
	.more-button {
		display:none;
	}
	#job-and-education p {
		display:inline;
	}
	#job-and-education {
		text-align:center;
		color:rgba(6,
		6,
		9,
		0.7);
		margin-bottom:28px;
	}
	#right-content p:first-child {
		display:none;
	}
	.background-photo {
		width:100%;
		height:150px;
	}
	.profile-content {
		position:relative;
		margin-bottom:15px;
	}
	#profile-photo-container {
		width:150px;
		height:150px;
		left:50%;
		transform:translateX(-50%);
	}
	.mobile-show {
		text-align:center;
	}
	.mobile-show p {
		margin-top:30px;
	}
	.desktop-show {
		display:none;
	}
	#name-and-profession {
		padding-left:0px;
	}
	#job-and-education .vertical-line {
		display:inline;
		border:0.5px solid rgba(6,
		6,
		9,
		0.7);
		margin-right:0px;
		margin-left:5px;
	}
	#experience,
	#education,
	#interests {
		padding-top:30px;
		padding-bottom:30px;
	}
	#publications {
		padding-top:30px;
	}
	#editorships {
		padding: 15px 15px 0px 15px;
	}
}	
@media screen and (max-width: 320px) {
	#profile-menu span {
		padding-right:39px;
	}
}
/*end of css for profile.css*/

/***************** Entreprenuer/Startup *******************/

.form-control::placeholder {
	opacity:0.5;
	font-size:14px;
	text-align:left;
	color:#060609;
}
.first-name,
.last-name,
.date-of-birth,
.email-address,
.name-of-institution,
.address,
.company-website-url,
.institution-website-url,
.personal-website-url,
.linkedin-url,
.phone-number,
.business-unit-name,
.function,
.research-unit-name,
.interests,
.what-describes-you-better,
.min-max-char,
.date-employment,
.from,
.to,
.position,
.institution-name,
.orcid-id,
.researcher-id,
.date-award,
.country,
.institution,
.title,
.url,
.upload,
.investor-id,
.start,
.end,
.budget,
.description,
/*interests_knowledge.html*/
.interests-name,
.knowledge-name {
	color:#060609;
	opacity:0.5;
	font-size:14px;
	text-align:left;
	margin-bottom:10px;
}
.interests,
.what-describes-you-better {
	margin-bottom:30px;
}
#investor-id,
#first-name,
#last-name,
#email {
	opacity:0.5;
	background-color:#f5f5f5;
}
/* Company */

#companies-col {
	padding-right:0px;
}
.companies {
	margin-bottom:30px;
}
.company {
	font-size:14px;
	text-align:left;
	color:rgba(6,
	6,
	9,
	0.7);
	margin-bottom:0px;
	line-height:16px;
}
.company:not(:last-child) {
	margin-right:45px;
}
@media screen and (max-width: 768px) {
	.company:not(:last-child) {
		margin-right:30px;
	}
	.user .vertical-line{
		display: none;
	}
}
@media screen and (max-width: 360px) {
	.company:not(:last-child) {
		margin-right:15px;
	}
}
.companies input[type=radio] + .company:before {
	content:"\e90e";
	font-size:16px;
	color:rgba(6,
	6,
	9,
	0.5);
	font-family:"ibridge-icon";
	position:absolute;
}
.companies input[type=radio]:checked + .company:before {
	content:"\e90d";
	color:#0468bf;
	background-color:#fff;
}
.company-padding {
	padding-left:26px;
	font-size:14px;
	position:relative;
}
/* Interests */

.interest-padding {
	padding-left:26px;
	margin-top:-2px;
}
.interests-label {
	font-size:14px;
	text-align:left;
	line-height:1.71;
	margin-bottom:15px;
	color:rgba(6,
	6,
	9,
	0.7);
	margin-right:45px;
	margin-top:-20px;
}
#interests-row input[type="checkbox"],
#describes-row input[type="checkbox"],
#forgotten-form input[type="checkbox"]{
	display:none;
}
#interests-row input[type=checkbox] +label:before,
#describes-row input[type=checkbox] +label:before,
#forgotten-form input[type=checkbox] +label:before{
	content:"";
	display:inline-block;
	width:16px;
	height:16px;
	background:#ffffff;
	border:1px solid rgba(6,
	6,
	9,
	0.5);
	border-radius:3px;
	position:absolute;
	margin-top:3px;
}
#interests-row input[type=checkbox]:checked + label:before,
#describes-row input[type=checkbox]:checked + label:before,
#forgotten-form input[type=checkbox]:checked + label:before{
	content:"\e912";
	font-family:'ibridge-icon';
	color:#fff;
	font-size:9px;
	background:#0468BF;
	padding:3px;
	line-height:1;
	min-width:16px;
	min-height:16px;
	border:1px solid #0468BF;
	border-radius:3px;
}
/* What describes you better */

.describe {
	margin-right:45px;
	display:inline;
	line-height:1.71;
}
#describes-row {
	margin-bottom:30px;
	margin-top:15px;
}
.describes-label {
	font-size:14px;
	text-align:left;
	color:rgba(6,
	6,
	9,
	0.7);
	margin-right:15px;
	margin-bottom:15px;
}
.describes-padding {
	padding-left:26px;
}
/* Popover button info */

.icon-ib-info {
	color:rgba(6,
	6,
	9,
	0.5);
	height:16px;
	width:16px;
	border-radius:50%;
}
.describe a {
	text-decoration:none;
}
.popover-body {
	font-family:Ubuntu;
	font-size:12px;
	font-weight:300;
	font-style:normal;
	font-stretch:normal;
	line-height:1.5;
	letter-spacing:normal;
	word-break:normal;
	text-align:left;
	color:rgba(65,
	64,
	66,
	0.7);
	padding:10px;
	width:auto;
}
.bs-popover-right {
	margin-left:13px;
}
.bs-popover-auto[x-placement^=right],
.bs-popover-right {
	box-shadow:0 5px 15px 0 rgba(0,
	0,
	0,
	0.05);
	border:solid 1px #e5e5e5;
	background-color:#ffffff;
}
.bs-popover-auto[x-placement^=right] .arrow::before,
.bs-popover-right .arrow::before {
	border-right-color:#e5e5e5;
}
#popover480037 {
	will-change:auto;
	top:500px;
	left:500px;
}
/* Project attributes */

.project-attributes {
	font-size:18px;
	font-family:"HelveticaNeue-Bold";
	line-height:1.39;
	text-align:left;
	color:#060609;
	margin-top:30px;
	margin-bottom:30px;
}
/* Text area */

.panel-default.note-toolbar-wrapper {
	height:40px !important;
	padding:0px 10px;
}
.note-editor.note-frame {
	border:solid 1px #e5e5e5;
	border-radius:5px;
}
.note-editor.note-frame .note-statusbar {
	display:none;
}
.note-toolbar {
	z-index:0;
}
.note-editor.note-frame .note-editing-area .note-editable {
	background-color:rgb(0,
	0,
	0,
	0);
}
.panel-heading.note-toolbar {
	padding:5px 0px;
	background-color:#fff;
	border-bottom:1px solid #e5e5e5;
}
.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
	font-size:16px;
	font-family:"HelveticaNeue-Bold";
	line-height:1.13;
	text-align:left;
	color:#555555;
	padding:0px;
	margin-right:15px;
}
.note-popover .popover-content>.btn-group,
.panel-heading.note-toolbar>.btn-group {
	font-size:16px;
	font-family:"HelveticaNeue-Bold";
	line-height:1.13;
	text-align:left;
	color:#555555;
	padding:0px;
	margin-right:15px;
}
.btn-group>.btn-group:not(:first-child)>.btn,
.btn-group>.btn:not(:first-child) {
	padding:0px;
	color:#555555;
}
.summernote {
	width:inherit;
	height:138px;
}
.btn-default {
	border:none;
}
.charNum {
	font-size:14px;
	line-height:1.21;
	text-align:left;
	color:rgba(6,
	6,
	9,
	0.5);
	float:right;
}
#summernote {
	margin-top:15px;
}
#min-max {
	padding-right:0px;
}
.min-max-char {
	font-weight:300;
}
#character-info {
	padding-top:15px;
}
/* Start End */

#start-end {
	margin-top:30px;
	margin-bottom:30px;
}
/* Financial data / Budget */

.financial-data {
	font-size:18px;
	font-family:"HelveticaNeue-Bold";
	text-align:left;
	color:#060609;
	margin-bottom:30px;
}
.budget-div::after {
	font-weight:normal;
	content:"\20AC";
	font-size:14px;
	position:absolute;
	top:0;
	height:16px;
	opacity:0.5;
	right:10px;
	margin-top:13px;
}
#budget-row {
	margin-bottom:30px;
}
.budget-div input {
	width:100%;
	padding-right:25px;
}
.budget-div {
	position:relative;
}
.input-group-append > .custom-select1 {
	width:101px;
}
.input-group-append > .custom-select1 > .select-selected {
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
}
.input-group-append > .custom-select1 > .select-items {
	border-top-left-radius:0px;
}
/*Publications, Emplolyment, Degrees, Awards, Research grants */

.publications,
.employment,
.degrees-earned,
.awards-received,
.research-grants {
	font-size:18px;
	font-family:"HelveticaNeue-Bold";
	text-align:left;
	color:#060609;
	margin-top:30px;
	margin-bottom:30px;
}
/* Awards recieved */

.forms {
	width:auto;
	height:auto;
	border-radius:10px;
	box-shadow:0 8px 28px 0 rgba(0,
	0,
	0,
	0.08);
	padding:30px;
	margin-bottom:30px;
}
/*Previous / Next Button */

.previous-next-row {
	margin-top:90px;
}
.button-next-step {
	width:120px;
	height:42px;
	border-radius:5px;
	background-color:#0468bf;
	font-size:14px;
	text-align:left;
	color:#ffffff;
	text-align:center;
	margin-left:15px;
	float:right;
	border:0;
}
.button-previous-step {
	width:145px;
	height:42px;
	border-radius:5px;
	font-size:14px;
	text-align:left;
	background-color:#ffffff;
	color:rgba(6,
	6,
	9,
	0.7);
	text-align:center;
	border:0;
	float:right;
}
.button-skip-step {
	height:42px;
	border-radius:5px;
	font-size:14px;
	line-height:1.79;
	text-align:left;
	background-color:#ffffff;
	color:rgba(6,
	6,
	9,
	0.7);
	text-align:center;
	border:0;
	padding:0px;
	float:left;
}
.main-info {
	margin-top:60px;
	margin-bottom:30px;
	font-size:18px;
	font-family:"HelveticaNeue-Bold";
	text-align:left;
	color:#060609;
}
.form-control {
	margin-bottom:30px;
	border:1px solid #e5e5e5;
	height:46px;
	border-radius:5px;
	color:#060609;
}
label {
	font-weight:normal;
}
@media only screen and (min-width: 769px) {
	#button-next-step {
		float:right;
	}
}
@media only screen and (max-width: 767px) {
	.previous-next-row {
		box-align:center;
		max-width:100%;
	}
	.button-next-step {
		width:100%;
		margin-bottom:30px;
		margin-left:0px;
	}
	.button-previous-step {
		width:100%;
		margin-bottom:30px;
		margin-left:0px;
	}
	.button-skip-step {
		margin-bottom: 90px;
		width:100%;
	}
}
/*********************** Student *********************/

.student {
	font-size:18px;
	font-family:"HelveticaNeue-Bold";
	text-align:left;
	color:#060609;
	margin-bottom:30px;
}
@media screen and (max-width: 767px) {
	.student {
		padding-left:36px;
	}
}
.interests,
.what-describes-you-better {
	margin-bottom:30px;
}
#first-name,
#last-name,
#email,
#researcher-id {
	opacity:0.5;
	background-color:#f5f5f5;
}
/* Publications, Emplolyment, Degrees, Awards, Research grants */

.publications,
.employment,
.degrees-earned,
.awards-received,
.research-grants {
	font-size:18px;
	font-family:"HelveticaNeue-Bold";
	text-align:left;
	color:#060609;
	margin-top:30px;
	margin-bottom:30px;
}
/* Awards recieved */

.forms {
	width:auto;
	height:auto;
	border-radius:10px;
	box-shadow:0 8px 28px 0 rgba(0,
	0,
	0,
	0.08);
	padding:30px;
	margin-bottom:30px;
}
/*clear button (X) and spin(up and down) hidden on input DATE and TEXT*/

input::-webkit-inner-spin-button,
input::-webkit-clear-button {
	display:none;
}
/*clear button (X) and show button(eye) - hidden on Internet Explorer*/
::-ms-clear,
::-ms-reveal{
	display: none;
}
/* Dropdown */

.dropdown {
	position:relative;
}
.mb-3 {
	padding-right:12px;
	border:1px solid #e5e5e5;
}
/*the container must be positioned relative:*/

.custom-select1 {
	position:relative;
	margin-bottom:30px;
}
.custom-select1 select {
	display:none;
	/*hide original SELECT element:*/
}
.select-selected {
	height:46px;
	background-color:#fff;
	border-radius:5px;
	border:solid 1px #e5e5e5;
}
/*style the arrow inside the select element:*/

.select-selected:after {
	position:absolute;
	content:"\e900";
	font-family:"ibridge-icon";
	margin-top: 3px;
	color:#060609;
	right:14px;
	width:15px;
	height:15px;
	font-size:10px;
}
/*style the items (options), including the selected item:*/

.select-items div,
.select-selected {
	color:#838384;
	border-bottom:1px solid transparent;
	border-color:rgba(0,
	0,
	0,
	0.1);
	font-size:10px;
	padding:10px 16px 8px 16px;
	cursor:pointer;
	user-select:none;
	font-size:14px;
	padding:13px 15px 15px 15px;
}
/*style items (options):*/

.select-items {
	position:absolute;
	background-color:#fff;
	top:100%;
	left:0;
	right:0;
	z-index:99;
	border-left:1px solid transparent;
	border-right:1px solid transparent;
	border-top:1px solid rgba(0,
	0,
	0,
	0.1);
	border-color:rgba(0,
	0,
	0,
	0.1);
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
/*hide the items when the select box is closed:*/

.select-hide {
	display:none;
}
.select-items div:hover,
.same-as-selected {
	background-color:rgba(0,
	0,
	0,
	0.1);
}
/* Add Button */

.add-button {
	float:right;
}
.icon-ib-plus {
	padding-right:10px;
	font-size:14px;
	color:#0468bf;
}
.add-button-icon {
	font-size:16px;
	text-align:right;
	background-color:#fff;
	border:none;
	padding:0px;
	float:right;
	color:#0468bf;
}
/* Cancel / Save button */

.cancel-save-button {
	float:right;
}
.cancel-button {
	background-color:#fff;
	border:none;
	font-size:14px;
	color:rgba(6,
	6,
	9,
	0.7);
	padding:0px;
}
.save-button {
	background-color:#fff;
	border:none;
	font-size:14px;
	color:#0468bf;
	padding:0px;
	margin-left:45px;
}
/**************** Forgotten Password ****************/

#header-forgotten {
	background-color:#062540;
	height:66px;
	position:fixed;
	top:0px;
	z-index:1;
	min-width:100%;
}
.logo1 {
	color:#fff;
	font-size:16px;
	margin-top:23px;
	line-height:1.56;
	font-family:"HelveticaNeue-Bold";
	padding-left:10px;
	display:inline-block;
}
.button-create-sign{
	float:right;
	font-size: 14px;
}
.create-acc {
	background:transparent;
	width:155px;
	height:42px;
	border:0;
}
.sign-in {
	background-color:#0468bf;
	width:83px;
	height:42px;
	border:transparent;
	margin-left:15px;
}
.sign-in, .create-acc{
	border-radius:5px;
	font-size:14px;
	text-align:center;
	color:#fff;
}
.button-create-sign .sign-in, .button-create-sign .create-acc{
	margin-top: -6px;
}
#forgotten-form {
	padding-top:60px;
}
.forgotten-text {
	font-size:26px;
	font-family:"HelveticaNeue-Bold";
	font-style:normal;
	font-stretch:normal;
	line-height:0.96;
	margin-bottom:20px;
}
.enter-email-text {
	font-size:14px;
	line-height:1.71;
	text-align:left;
	color:rgba(6,
	6,
	9,
	0.5);
	margin-bottom:45px;
	line-height:1.71;
}
.pass-char-text{
	font-size: 14px;
	line-height: 1.71;
	text-align: left;
	color: rgba(6, 6, 9, 0.5);
	margin-bottom:45px;
}
.recieve-email-text{
	font-size: 14px;
    line-height: 1.71;
    text-align: left;
	color: rgba(6, 6, 9, 0.5);
	padding-top: 15px;
    margin-bottom: 30px;
    line-height: 20px;
}
#email-input {
	margin-bottom:45px;
	height:55px;
	padding-top:20px;
	padding-left:15px;
}
.submit-reset-link {
	background-color:#0468bf;
	color:#fff;
	width:100%;
	height:47px;
	border-radius:5px;
	border:transparent;
	font-size:14px;
	text-align:center;
	font-family:"HelveticaNeue-Bold";
	line-height:1.79;
	margin-top:25px;
}
.resend-link {
	background-color:#0468bf;
	color:#ffffff;
	width:100%;
	height:47px;
	border-radius:5px;
	border:transparent;
	font-size:14px;
	font-family:"HelveticaNeue-Bold";
	text-align:center;
	line-height:1.79;
	margin-bottom:45px;
}
.link-email-text {
	font-size:14px;
	line-height:1.71;
	text-align:left;
	color:#060609;
	margin-bottom:45px;
}
.register-link a{
	color: #0468bf;
}
#pass-input {
	height:55px;
	padding-top:20px;
	padding-left:15px;
}
.require-pass-label {
	margin-left:15px;
	font-size:14px;
	line-height:1.71;
	text-align:left;
	color:rgba(6,
	6,
	9,
	0.7);
	margin-bottom:45px;
}
#pass-input {
	margin-bottom:20px;
}
#pass-retype-input {
	margin-bottom:25px;
}
/* ---------------------------------------------------
    SIDEBAR STYLE - RIGHT MENU
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}
/*right menu*/
#sidebar {
	width: 50%;
    background: #062540;
    color: #fff;
	right: 0;
    z-index: 1300;
    height: 100%;
    max-height: 100%;
  	overflow-y: auto;
	position: fixed;
	display: none;
	-ms-overflow-style:none; /*hide right menu's scroll bars on InternetExplorer*/
	scrollbar-width: none; /*hide right menu's scroll  bars on Firefox*/
}
/*hide right menu's scroll  bars on Safari and Chrome*/
#sidebar::-webkit-scrollbar{
	display: none;
}
#sidebar ul li a i{
	color: #062540;
	margin-right: 20px;
}
#sidebar ul li:first-child i{
	line-height: 40px;
	padding-bottom: 10px;
}
.sidebar-p{
	font-size: 14px;
	opacity: 0.5;
}
.wrap-middle span:first-child{
	opacity: 1;
	font-size: 16px;
}
.wrap-right i:first-child{
	color: #fff;
}
#sidebar.active {
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}
#close-icon{
	top: 20px;
	font-size: 16px;
    margin-left:calc(100% - 108%)!important;
    position: fixed;
}
#sidebar ul{
	margin-top: 15px;
}
#sidebar ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	width: 100%;
	display: inline-block;
}

#sidebar ul li p{
	margin-top: 15px;
	margin-bottom: 15px;
}
#sidebar ul li{
	margin: 10px 30px;
}
#sidebar ul li:not(:first-child){
	padding: 10px 5px;
}
.wrap-left{
	float: left;
}
.wrap-middle span{
	display: block;
	line-height: 1.4;
}
.wrap-middle{
	float: left;
}
.wrap-right{
	float: right;
}

#icon-profile-sidebar{
	padding: 7px;

}
#sidebar li:first-child i{
	padding: 12px;
	margin-right: 15px;
}
.wrap-right i{
	margin-right: 0px;
	padding-right: 0px;
}
#sidebar .continue{
	text-align: center;	
	margin: 20px 15px 35px 15px;
}
#sidebar .sign-in, #sidebar .create-acc{
	width: 100%;
	margin-left: 0px;
}
#sidebar ul li.button1,#sidebar ul li.button2{
	padding: 0px;
}
#sidebar ul li.button1{
	margin-bottom: 30px;
}
/*arrow next icon*/
#sidebar ul li a .wrap-right i{
	color: #fff;
	font-size: 10px;
	margin-right: 0px;
}
/*
interests_knowledge.html css
*/
#tab-content{
	max-height: 431px;
	display: none;
	border-radius: 10px;
	box-shadow: 0 8px 28px 0 rgba(0, 0, 0, 0.08);
	background-color: #fff;
	padding:30px;
	overflow-y: scroll;
	margin-bottom: 60px;

	font-size: 14px;
}
ul li{
	list-style: none;
}
.hide{
	display: none;
}
#first-list1,#first-list2{
	display: none;
	padding-inline-start: 0px;
}
#tab-text{
	border: none;
	width: 100%;
	margin-bottom: 14px;
}
#tab-text::placeholder{
	text-align: center;
}
#tab-content input[type="checkbox"]{
	display: none;
}
#tab-content input[type=checkbox] +label:before{
	content:"\e903";
	color:#e5e5e5;
	font-family:"ibridge-icon";
	border-radius: 3px;
	margin-right: 10px;
}
#tab-content input[type=checkbox]:checked + label:before{
	content:"\e902";
	background-color:#0468bf;
}
#tab-content a{
	padding: 0px;
	margin-top: 30px;
}
#tab-text:-webkit-autofill{
	background-color: white !important;
}
.wrap-ul{
	margin-top: 30px;
	display: none;
}
/*remove blue color displayed when we autofill*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0px 100px #fff inset;

}
.checked-interests-container{
	margin-bottom:5px;
	border:1px solid #e5e5e5;
	min-height:46px;
	border-radius:5px;
	color:#060609;
	padding:7px;
	font-size: 14px;
}
#checked-interests{
	background-color: #f5f5f5;
	padding: 8px 15px;
	border-radius:5px;
}
.caret {
  	cursor: pointer;
 	-webkit-user-select: none; /* Safari 3.1+ */
  	-moz-user-select: none; /* Firefox 2+ */
 	-ms-user-select: none; /* IE 10+ */
 	user-select: none;
}

.caret::before {
  	content: "\e90b";
  	font-family: "ibridge-icon";
  	font-weight: bolder;
  	font-size: 12px;
	background:#ffffff;
	border-radius:3px;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {

    #sidebar.active {
        margin-left: 0;
        transform: none;
        display: inline-block;
    }
	.open{
		margin-left: -50%!important;
		margin-right: 50%!important;
	}
}
@media screen and (min-width: 768px)
{		/*arrow next icon*/
	#sidebar ul li a .wrap-right i{
		margin-right: -15px;
		}
}
/*calc(100% - 146%) doesn't work well on Edge*/

/*@supports (-ms-ime-align:auto) {
    .open:not(.logo){
		margin-left: calc(100% - 123%)!important;
	}
/*microsoft edge logo fix

	.logo.open{
		margin-left: calc(100% - 170%)!important;
	}
}*/
@media screen and (max-width: 767px){	
	#container{
		margin-bottom:0px;	
	}
	#sidebar ul li{
		margin: 10px 15px;
	}
	#sidebar{
		width: 80%;
	}
}
@media screen and (max-height: 721px){
	.extra-margin{
		margin-bottom: 90px;
	}
	footer{
		position: relative;
	}
}
@media screen and (max-width: 414px){
	.open{
		margin-left: calc(100% - 180%)!important;
		margin-right: 80%;
	}
	#close-icon{
		margin-left: calc(100% - 112.5%)!important;
	}
}